<h2> <%= @recipe.name %> </h2>
<p> Ingredients: <%= @recipe.ingredients %></p>
<p> Cook Time: <%= @recipe.cook_time %></p>
<p>To edit <%= @recipe.name %>, click <a href="/recipes/<%= @recipe.id %>/edit">HERE </a></p>
<br>
<a href="/recipes">Go back</a>
