<h2><%= @recipe.name %></h2>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <div>
    <label>Name:</label>
    <input id="name" type="text" name="recipe[name]" value="<%= @recipe.name %>" />
  </div>

  <div>
    <label>Ingredients:</label>
    <input id="ingredients" type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>" />
  </div>

  <div>
    <label>Cook Time:</label>
    <input id="cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>" />
  </div>
<br>
  <input type="submit" value="Edit <%= @recipe.name %>" />
</form>

